@CHARSET "UTF-8";

.fr1 {
	border: 0 !important;
}

.fr1:nth-of-type(1) {
	float: right;
}

#draw\:frame-draw\:name_Rahmen1 {
	margin-left: 0 !important;
	margin-top: 0 !important;
	float: right;
	white-space: normal !important;
}

td {
	vertical-align: top;
}

table {
	border-spacing: 0;
}