h2#chat                         { color: #fa9f00; font: 14px Helvetica, Sans-Serif; margin: 0 0 10px 0; }

#page-wrap                      { display: none; width: 300px; float: right; right: 10px; bottom: 10px; position: fixed; background: #FFF; z-index: 10000;}

#page-wrap                      { opacity:0.5; filter:alpha(opacity=50); }
#page-wrap:hover                { opacity:1.0; filter:alpha(opacity=100); } 

#show-chat                      { float: right; right: 10px; bottom: 10px; position: fixed; z-index: 10000; width: 100px; height: 20px; border: solid 1px #000; background: #fff; text-align: center; }

#hide-chat                      { float: right; right: 10px; bottom: 10px; z-index: 10000; width: 100px; height: 20px; border: solid 1px #000; background: #fff; text-align: center; }

#chat-wrap                      { border: 1px solid #eee; margin: 0 0 15px 0; }
#chat-area                      { height: 200px; overflow: auto; border: 1px solid #666; padding: 20px; background: white; }
#chat-area span                 { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }

#name-area                      { position: absolute; top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; }   
#name-area span                 { color: #fa9f00; }

#send-message-area p            { float: left; color: #000; font-size: 14px; }
#sendie                         { border: 3px solid #999; width: 294px; font: 12px "Lucida Grande", Sans-Serif; float: right; height: 25px!important; }
