# config/doctrine/schema.yml
Anlage:
  actAs: { Timestampable: ~ }
  columns:
    kuerzel: { type: string(255), notnull: true }
    zeit: { type: integer }
    ziel: { type: string(1000) }
    methode: { type: string(1000) }
    material: { type: string(1000) }
    tip: { type: string(1000) }
    kurzinhalt: { type: string(1000) }
    inhalt: { type: string(10000) }
    rolle_tm: { type: string(1000) }
    stunde_id:  { type: integer, notnull: true }
    lnr: { type: integer, notnull: true }
  relations:
    Stunde: { onDelete: CASCADE, local: stunde_id, foreign: id, foreignAlias: Anlagen }
  indexes:
    kuerzel_lnr:
      fields: [kuerzel, lnr]
      type: unique

Bild:
  actAs: { Timestampable: ~ }
  columns:
    path: { type: string(255), notnull: true, unique: true }
    caption: { type: string(1000) }
    anlage_id: { type: integer, notnull: true } 
  relations:
    Anlage: {  onDelete: CASCADE, local: anlage_id, foreign: id, foreignAlias: Bilder }

Anhang:
  actAs: { Timestampable: ~ }
  columns:
    path: { type: string(255), notnull: true, unique: true }
    caption: { type: string(255) }
    anlage_id: { type: integer, notnull: true } 
  relations:
    Anlage: {  onDelete: CASCADE, local: anlage_id, foreign: id, foreignAlias: Bilder }

Stunde:
  actAs: { Timestampable: ~ }
  columns:
    lnr: { type: integer, notnull: true }
    name: { type: string(255), notnull: true }
    zim_id: { type: integer, notnull: true }
  relations:
    Zim: {  onDelete: CASCADE, local: zim_id, foreign: id, foreignAlias: Stunden }
  indexes:
    zim_lnr:
      fields: [zim_id, lnr]
      type: unique

Zim:
  actAs: { Timestampable: ~ }
  columns:
    name: { type: string(255), notnull: true }

